<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synand</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- <link rel="stylesheet" href="./style/acceuil.css"> -->
    <style>
   
    </style>
</head>
  <style>
    .login{
      width: 400px;
      margin-top: 8%;
      margin-left: 35%;
      background-color: #dce4d1c4;
      padding: 10px 20px;
      border-radius: 5px;
      color: black;
    /* box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.86); */
    

    }
    body{
      /* background-color: rgba(137, 130, 130, 0.427); */
    background-image:url('pharma.jpg') ;
    background-size: cover;

    }
    .sousTitre{
      font-size: 18px;
    }
  </style>
<body>
 <div class="login">
 <div class="text-center">
  <img src="img/logo1.jpg" alt="" width="45px">
  <h3>Synand Clinique</h3>
 </div>
  <br>
    <div class="sousTitre">
  Anthentification administrateur
    </div>
  <form action="authAdmin" method="post" class="mt-3">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nom</span>
        <input type="text" class="form-control" name="name" placeholder="Nom d'administrateur" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Mot de passe</span>
        <input type="password" class="form-control" name="password" placeholder="Mot de passe de securite" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <button type="submit" class="btn btn-primary">Se connecter</button>
   </form>
 </div>
</body>

<!-- Modal pour le registre -->


<script>
    

    
   
</script>
</html>